::-webkit-scrollbar {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    margin: -8px;
    background-color: #3e4649;
    display: block;
    width: 100%;
    z-index: 10;
    border-bottom: 3px solid #212121;
}

body {
	margin-top: 80px;
    background-color: #262f35;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.page {
    width: 1020px;
	height: 800px;
    margin: auto;
    background-color: #dee8f9;
	border: 3px solid #5d5d65;
}

div{
    overflow: hidden;
}

.view2D, .view3D {
    position:relative;
    left:0px;
    top:0px;
    max-height:550px;
    min-height:260px;
}

.button {
    background-color: #5b7da0;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 45%;
    margin: 5px;
    margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 45px;
  margin: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5b7da0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 37px;
  width: 200px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4c98af;
}

input:checked + .slider:before {
    transform: translateX(192px);
}
/* ---------------- */

.menu {
	position: relative;
	top: 0px;
	overflow: hidden;
	height: 240px;
    width: 100%;
    background: linear-gradient(-90deg, lightslategrey, #8ca1b5);
    border-top: 6px double black;
}

#root > div{
    position: relative;
    height: 240px;
}

h1{
	margin: 3px;
	text-align: center;
    font-family: "Bookman Old Style";
    font-size: 28px;
}

.switch > h2{
    font-family: "Bookman Old Style";
    margin: 0px;
    font-size: 18px;
    pointer-events: none;
    position: relative;
    top: 25%;
    width: 50%;
    height: 100%;
    text-align: center;
}

.label{
    position: absolute;
    pointer-events: none;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: #ffffff75;
    margin: 0px;
}

.bond > line, .bond_dbl > line, .bond_hash > line, .bond_trp > line {
    stroke: black;
    stroke-width: 1px;
}

.highlight {
	stroke-width: 0;
	stroke: black;
    fill: yellow;
    fill-opacity: 0;
}

.highlight_hover {
	stroke-width: 0.5px;
	stroke: black;
    fill: yellow;
    fill-opacity: 0.5;
}

.atomFocus {
    stroke-width: 0.5px;
	stroke: black;
    fill: orange;
}

.wedge {
    fill: black;
}

#view2d {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 16px;
}

.dd > text {
    text-anchor: middle;
    font-size: 38px;
    font-family: "Verdana";
}

.dd > rect {
    fill: lightgrey;
}

.dd > defs > mask > text {
    text-anchor: middle;
    font-size: 34px;
    font-family: "Verdana";
}

.label_O{
	fill: red;
}
.label_N{
	fill: blue;
}

.atomind{
	font-size: 8px;
}

div#controls {
    margin-top: 16px;
}

.Blocker3D > rect {
    fill: grey;
}

.Blocker3D > text {
    color: white;
    font-size: 24px;
    font-family: "Verdana";
    baseline-shift: -6px;
}
