/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
    display: none;
}


.AnswerBox {
	height: 100%;
	width: 1050px;
	margin: auto;
}

.AnswerBG {
	position: relative;
	height: 281px;
	/* background: linear-gradient(-90deg, #3a5a50, #3a5a50); */
	border-top: 6px solid #4e564b;
	padding: 10px 0px 10px 0px;
}

.answerButton {
	background: #99A1A6;
	height: 100%;
	width: 100%;
	border: #462d33 solid 5px;
	border-radius: 20px;
}

.answerButton > svg {
	padding: 5%;
    width: 90%;
    height: 90%;
}

.AnswerFrame {
    background: #99A1A6;
    position: absolute;
    border: #462d33 solid 5px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

.AnswerFrame > svg {
	height:80%;
}

.answerText {
    position: relative;
    top: 30%;
    font-family: "Bookman Old Style";
    font-size: 20px;
    letter-spacing: 0.3px;
}

body {
	margin-top: 80px;
	background-color: #293026;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button {
	background: #99A1A6;
	border: #462d33 3px solid;
	border-radius: 10px;
	padding: 15px 0px;
	text-align: center;
	font-size: 20px;
	width: 45%;
	margin: auto;
	bottom: 2%;
	left: 27%;
	position: absolute;
}

.button:hover {
	background: rgb( 146, 175, 215 );
}

.button:active {
	background: #C5D1EB;
}

div{
    overflow: hidden;
    display: block;
    position:relative;
}

.feedbackBG {
	fill: rgb(204, 247, 143);
	stroke: black;
	stroke-width: 1px;
}

.feedbackText {
	position: absolute;
	right: 2%;
	top: 1%;
	width: 45%;
	height: 96%;
	background: rgb(204, 247, 143);
	border: #462d33 3px solid;
	border-radius: 20px;
	font-family: "Bookman Old Style";
	font-size: 20px;
	z-index: 1;
}

#gameFrame {
	height: 100%;
	background: linear-gradient(to bottom, #c6d0cd 13%, #84A59D 13%, #84A59D 55%, #3a5a50 55%);
}

h1 {
	margin: 3px;
	font-family: "Bookman Old Style";
	font-size: 28px;
	font-weight: bold;
}

.header {
	position: fixed;
    top: -5px;
    background-color: #3e4649;
    display: block;
    width: 100%;
    z-index: 10;
    border-bottom: 3px solid #212121;
}

#Image {
	height: 75%;
}

#Image > svg {
	width: 90%;
    margin: auto;
    display: block;
}

#Question {
	height: 20%;
	margin-top: 14px;
}

.QuestionBox {
	height: 370px;
	width: 1050px;
	margin: auto;
	text-align: center;
}

.QuestionBox > img {
	position: relative;
	width: 70%;
	margin:auto;
}

.page {
    width: 100%;
    height: 677px;
    top:24px;
    background-color: #84A59D;
    border-top: 3px solid #4e564b;
    border-bottom: 3px solid #4e564b;
}
